
{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}
        
    
    <h2>David Daniel Ramirez</h2>
    
        <p class="abo-p">Trabajo hace más de 10 años en sistemas, al trabajar con usuarios tanto internos
            como externos he adquirido cierta experiencia en el tratamiento de usuarios finales y su interacción
            con los diversos sistemas y aplicaciones, por consiguiente me decidí a seguir mi carrera en el área
            de desarrollo para así poder interactuar más fuertemente con las necesidades del usuario. Esta aplicación
            trata de automatizar la tarea de carga de datos y vista de los mismos, utilizando una base de datos para
            hacer el tratamiento de información mucho más robusta.
            <div class="abo-cont">
                <img src="{% static 'assets/img/programa.png' %}"  alt="Programa">
                <img src="{% static 'assets/img/programando.jpg' %}"  alt="MundoInfo">
                <img src="{% static 'assets/img/mundoinfo.jpg' %}"  alt="MundoInfo">
            </div>
        </p>
    

{% endblock contenidoQueCambia %}