
{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}
        
    
    <h2>David Daniel Ramirez</h2>
    
        <p class="abo-p">Trabajo hace mas de 10 años en sistemas, al trabajar con usuarios tanto internos como externos
        he adquirido cierta experiencia en el tratamiento de usuarios finales y su interaccion con los diversos
        sistemas y aplicaciones, por consiguiente me decidi a seguir mi carrera en el area de desarrollo para asi 
        porder interactuar mas fuertemente con las necesidades del usuario. En esta aplicacion se trata de hacer
        mas automatizada una tarea que se utiliza para carga de datos y vista general de los mismos, utilizando 
        una base de datos para hacer el tratamiento de informacion mucho mas robusta.
            <div class="abo-cont">
                <img src="{% static 'assets/img/programa.png' %}"  alt="Programa">
                <img src="{% static 'assets/img/programando.jpg' %}"  alt="MundoInfo">
                <img src="{% static 'assets/img/mundoinfo.jpg' %}"  alt="MundoInfo">
            </div>
        </p>
    

{% endblock contenidoQueCambia %}