{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}
   <button style="background:black">
      <a href="{% url 'BuscarDatos' %}"><img src="{% static 'assets/img/volver.png' %}" alt="Volver"></a>
   </button>
        
   <div class="b-per">
        <div>
           <button class="bpc"><a href="{% url 'BuscarPersonalCC' %}"><img src="{% static 'assets/img/buscar.ico' %}" alt=""> - PersonalCC</a></button>
           <p> - Buscar Personal De Control Central</p>
        </div>
        <div>    
            <button class="bpd"> <a href="{% url 'BuscarPersonalDXTV' %}"><img src="{% static 'assets/img/buscar.ico' %}" alt=""> - PersonalDXTV</a></button>
            <p> - Buscar Personal De DXTV</p>
        </div>
   </div>

{% endblock contenidoQueCambia %}