{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}

<button style="background:black">
    <a href="{% url 'BuscarDatos' %}"><img src="{% static 'assets/img/volver.png' %}" alt="Volver"></a>
</button>
        
    <form action="{% url 'BuscarP' %}" method="GET">{% csrf_token %}

        <p>Ingrese Dni del "Personal" Buscado <input type="text" name="dni"></p><h5>{{mensaje}}</h5>

        <input class="act" type="submit" value="Buscar">

        

    </form>

{% endblock contenidoQueCambia %}