
{% extends 'index.html' %}

{% load static %}

{% block title %}Crear Dias{% endblock title %}

{% block contenidoQueCambia %}
    <button style="background:black">
        <a href="{% url 'CrearDatos' %}"><img src="{% static 'assets/img/volver.png' %}" alt="Volver"></a>
    </button></td>
        
    <form action="{% url 'CrearDias' %}" method="POST">{% csrf_token %}

        {{forms}}<p>"año-mes-dia"</p>  
        
        <input class="act" type="submit" value="Cargar"/>

    </form>
    

{% endblock contenidoQueCambia %}