{% extends 'index.html' %}

{% load static %}

{% block contenidoQueCambia %}

<button style="background:black">
    <a href="{% url 'index' %}"><img src="{% static 'assets/img/volver.png' %}" alt="Volver"></a>
</button>
        
   <div class="c-dat">
        {% if perms.PControl.add_personalcc or request.user.personalcc%}  
        <div>
            <button class="cd"><a href="{% url 'CrearDias' %}"><img src="{% static 'assets/img/editar.ico' %}" alt=""> - Dias</a></button>
            <p></p>
        </div>
        {% endif %}
        {% if perms.PControl.add_personaldxtv or request.user.personaldxtv%}
       <div>
            <button class="ch"> <a href="{% url 'CrearHoras' %}"><img src="{% static 'assets/img/editar.ico' %}" alt=""> - Horas</a></button>
            <p></p>
        </div>
        {% endif %}
   </div>

{% endblock contenidoQueCambia %}