<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport", initial-scale=1.0>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
        <title>{% block title %}Planilla Control{% endblock title %}</title>
        <link href="{% static 'css/stylesnew.css' %}" rel="stylesheet"/>
        
        
        
        {% block head %}
            
        {% endblock head %}
            
    </head>
    <body>
        <div class="container" id="grid-1">
            <header class="header" id="grid-2">
                <div class="Logo">
                    <h1>Planilla 
                        <span>Control</span>
                    </h1>
                </div>
                <nav class="menu">
                    {% if user.is_authenticated %} 
                    <a class="home" href="{% url 'index' %}"><img clas="home-ico" src="{% static 'assets/img/casa.png' %}" alt="">Inicio</a>
                    <a href="{% url 'About' %}"><img clas="home-ico" src="{% static 'assets/img/about.png' %}" alt="">Sobre Mi</a>
                        {% if request.user.administrador or request.user.supervisor %}
                            <a href="{% url 'Registrar' %}"><img clas="home-ico" src="{% static 'assets/img/registrarse.png' %}" alt="">Registrarse</a>
                        {% endif %}
                    {% else %}
                    <a class="home" href="{% url 'Home' %}"><img clas="home-ico" src="{% static 'assets/img/casa.png' %}" alt="">Inicio</a>
                    <a href="{% url 'SobreMi' %}"><img clas="home-ico" src="{% static 'assets/img/about.png' %}" alt="">Sobre Mi</a>
                    <a href="{% url 'Registrar' %}"><img clas="home-ico" src="{% static 'assets/img/registrarse.png' %}" alt="">Registrarse</a>
                    {% endif %}
                </nav>
                {% if user.is_authenticated %}       
                    <div class="container-perfil">
                        <h3><a class="cls" href="{% url 'logout' %}">Cerrar Sesión</a></h3>
                        <img class="ava" src="{{url}}" width="25%" alt="avatar">
                        <a href="{% url 'editarperfil' %}"><img src="{% static 'assets/img/editar.ico' %}" alt=""></a>
                        <h4>Bienvenido {{user.username}}</h4>
                        
                    </div>
                {% else %}
                    <a class="log" href="{% url 'login' %}">Iniciar Sesión</a>    
                
                {% endif %}
                    
        
            </header>
            <main class="main" id="grid-3">
                {% if user.is_authenticated %}
                <div class="ban">
                    <img src="{{banner}}" alt="banner">
                </div>
                {% else %}
                <div class="ban">
                    <img src="{% static 'assets/img/banner.png' %}" alt="">
                </div>
                {% endif %}
                <div class="nav">                       
                    <nav>
                        {% if user.is_authenticated %}
                            
                            <a href="{% url 'ListaPersonal' %}">Lista Personal</a>
                            
                            {% if request.user.supervisor or request.user.administrador %}
                            <a href="{% url 'ListaDias' %}">Lista Días Trabajados</a>
                            {% endif %}
                            {% if request.user.supervisor or request.user.administrador %}
                            <a href="{% url 'ListaHoras' %}">Lista Horas Trabajadas</a>
                            {% endif %}
                            {% if request.user.supervisor or request.user.administrador %}
                            <a href="{% url 'BuscarDatos' %}">Buscar</a>
                            {% endif %}
                            <a href="{% url 'CrearDatos' %}">Cargar datos</a>

                        {% endif %}
                    </nav>
                

                </div>
                
                <div class="bc-main">
                    
                    {% block contenidoQueCambia %}
                    
                        <div class="d-main">
                            <h2>Esta aplicación fue diseñada para automatizar el control de días y horas.</h2>
                        </div>
                        <div>
                            <p class="p-main">Aquí podrá cargar tanto sus días como horas trabajadas según le interese. Agregar a una base de datos SQL los mismos para poder registrarla, verla cuando así lo necesite. Esto viene a mejorar el flujo de información tanto para "Empleados" como "RRHH".</p>
                        
                        </div>
                        <h4 class="reg">{{mensaje}}</h4>
                    
                    {% endblock contenidoQueCambia %}
                    
                </div>
                <div class="chat">
                    {% if user.is_authenticated %}
                        {% if request.user.supervisor or request.user.administrador %}
                            <h2 class="su-title">Sugerencias</h2>
                            <hr>
                                <div class="a-msj">
                                    <a href="{% url 'ListaSug' %}"><h3>Mensajes</h3> <br><img src="{% static 'assets/img/mensajes.png' %}" alt="Mensaje"></a>                     
                                </div>      
                        {% else %}
                            
                        
                                 
                            <h2 class="su-title">Sugerencias</h2>
                            <hr>
    
                            <form class="su-form" action="{% url 'Sugerencias' %}" method="POST">{% csrf_token %}
                           
                            Texto
                            <textarea name="texto" rows="4" cols="40" placeholder="Escriba su sugerencia aquí"></textarea>
                            <input class="act" type="submit" value="Enviar"/>
                            </form>
                         
                        {% endif %}
                        
                    {% endif %}
                    </div>
            </main>     
                
            <footer class="footer" id="grid-4">
                <div class="foot-img">
                    <a href="{% url 'Facebook' %}"><img clas="home-ico" src="{% static 'assets/img/facebook.png' %}"></a>
                    <a href="{% url 'Gmail' %}"><img clas="home-ico" src="{% static 'assets/img/gmail.png' %}"></a>
                    <a href="{% url 'Github' %}"><img clas="home-ico" src="{% static 'assets/img/github.png' %}"></a>
                    <a href="{% url 'Linkedin' %}"><img clas="home-ico" src="{% static 'assets/img/linkedin.png' %}"></a>
                    <a href="{% url 'Telegram' %}"><img clas="home-ico" src="{% static 'assets/img/telegram.png' %}"></a>
                </div>
                <div>
                    <h3 class="pla">SISTEMA DE <span class="ctrl">CONTROL</span></h3>
                </div>
                <nav class=nav-foot>
                    {% if user.is_authenticated %}
                    <a href="{% url 'index' %}"><img clas="home-ico" src="{% static 'assets/img/casa.png' %}" alt="">Inicio</a>
                    <a href="{% url 'About' %}"><img clas="home-ico" src="{% static 'assets/img/about.png' %}" alt="">Sobre Mi</a>
                        {% if request.user.supervisor or request.user.administrador %}
                            <a href="{% url 'Registrar' %}"><img clas="home-ico" src="{% static 'assets/img/registrarse.png' %}" alt="">Registrar</a>
                        {% endif %}
                    {% else %}
                    <a href="{% url 'Home' %}"><img clas="home-ico" src="{% static 'assets/img/casa.png' %}" alt="">Inicio</a>
                    <a href="{% url 'SobreMi' %}"><img clas="home-ico" src="{% static 'assets/img/about.png' %}" alt="">Sobre Mi</a>
                    <a href="{% url 'Registrar' %}"><img clas="home-ico" src="{% static 'assets/img/registrarse.png' %}" alt="">Registrar</a>
                    {% endif %}
                </nav>
            </footer>
        </div>
        
    </body>

    

</html>