{% extends 'index.html' %}

{% load static %}
{% block title %}Lista PersonalCC{% endblock title %}
{% block head %}
<link href="{% static 'css/stylestableP.css' %}" rel="stylesheet"/>          
{% endblock head %}

{% block contenidoQueCambia %}
<nav class="nav-pager">
  <ul class="pager">
    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primera</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
    
  </ul>
</nav>
<table class="table caption-top">
    <caption></caption>
    <thead>
      <tr class="col-h">
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        {% if perms.PControl.add_personalcc %}
        <th scope="col">Detalle Personal</th>
        <th scope="col">Borrar</th>
        {% endif %}
        {% if perms.PControl.add_personalcc %}
        <th scope="col">Editar</th>
        {% endif %}
        <th scope="col">Dias Personal</th>
      </tr>
    </thead>
        {% for Persona in perCC %}
          
        <tbody> 
            <tr class="fil-d">
                <td scope="row">{{Persona.nombre}}</td>
                <td>{{Persona.apellido}}</td>
                {% if perms.PControl.add_personalcc %}
                <td><button class ="ed">
                        <a class = "lisD" href="{% url 'VerPersonalCC' Persona.id %}"><img src="{% static 'assets/img/detalle.png' %}" alt="Detalle"></a>
                    </button>
                </td>
                {% endif %}
                {% if perms.PControl.add_personalcc %}
                <td><button class="deld"> 
                        <a href="{% url 'BorrarPerCC' Persona.id %}"><img src="{% static 'assets/img/papelera.png' %}" alt="Borrar"></a>
                    </button></td>
                {% endif %}
                {% if perms.PControl.add_personalcc %}
                <td><button class ="edd">
                        <a href="{% url 'UpdatePersonalCC' Persona.id %}"><img src="{% static 'assets/img/editar.png' %}" alt="Editar"></a>
                    </button></td>
                {% endif %}
                {% if perms.PControl.add_personalcc or request.user.personalcc %}
                <td>
                    <button class="deld">
                        <a href="{% url 'filtrarD' Persona.id %}"><img src="{% static 'assets/img/buscar.png' %}" alt="Buscar"></a>
                    </button>
                </td>
                {% endif %}
            </tr>        
        </tbody>
        {% endfor %}
    </table>



{% endblock contenidoQueCambia %}